.item{
    min-height: 40rem;
    min-width: 33%;
    padding: 10px;
}



.item img{
    width: 90%;
    height: 50%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel{
    display: flex;

}

.carousel{
    cursor: grab;
    overflow: hidden;
    background-color: #fff;
    height: 350px;
    border-radius: 2rem;
}
